include configure.ac Makefile README.first *.md *.txt VERSION *.spec
recursive-include procszoo *.in *.h
recursive-include procszoo/scripts
exclude procszoo/c_functions/macros.py procszoo/version.py \
        procszoo/network/dhcp.py .gitignore

